body {
  background-color: #000000;
  font-family: 'Metal Mania', cursive;
  color: #FFFFFF;
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: fixed;
}
a {
    color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #000000;
}
#start-title {
  margin-top: 25%;
  font-size: 180px;
  text-align: center;
  text-shadow: 2px 2px #ed0000;
}
#start-button {
  width: 115px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  font-size: 24px;
  background-color: #ed0000;
  letter-spacing: 4px;
  display: block;
  margin: auto;
}
